.GF5 img
{
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border:6px solid lightseagreen;
    border-top:20px;
    border-bottom: 20px;
    margin-top:18px;
    margin-bottom:8px;
}

.menu-principal ul img
{
    display: inline-flex;
    margin-right:100%;
    width:9%;
    border-radius: 50%;
    border: solid crimson;
    border-top:2px;
    border-bottom: 2px;
    margin-right:100%;
    position:relative;
    top:2px;
}

.col-lg-4 img
{
    width:45%;
    border-radius: 50%;
}

.col-lg-6 img
{
    width:40%;
    border-radius: 50%;
}


.GF5
{
    background: linear-gradient(to left top, #4e4eff, #4155f9, #365af2, #2e5feb, #2963e3, #275cd6, #2556ca, #234fbd, #1d3da9, #172b95, #101981, #08036d);
    margin-bottom:50px;
    position:relative;
    padding-top:2px;
    padding-bottom: 10px;
}


.menu-principal ul
{
    align-items:center;
    position:flex;
    background: rgb(149,149,149);
    background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); 
    text-align:center;
    margin:0;
    padding:0;
    width:100%;
    height:70px;
}

.menu-principal li
{
    display:inline-flex;
    list-style: none;
    font-size: 26px;
    color:white;
    font-family: monospace,sans-serif,arial;
    margin-right: 24px;
    position:relative;
}

ul li a
{
    color:darkgray;
    text-decoration: none;
    transition: 0.5s;
}

ul li a:hover
{
    color:crimson;
}

.col-lg-4, .col-lg-6
{
    padding-bottom:40px;
    padding-top:40px;
    text-align: center;
}

h1
{
    color:black;
}

p
{
    color:floralwhite;
    text-align:justify;
    margin-right:24px;
}



@media screen and (min-width: 100px) and (max-width: 399px)
{
    .menu-principal li a
    {
        margin-right: 10px;
    }


    .menu-principal ul img
{

    display: flex;
    margin-right:100%;
    width:20%;
    border-radius: 50%;
    border: solid crimson;
    border-top:2px;
    border-bottom: 2px;
    margin-right:100%;
    position:relative;
    top:16px;
}

    .GF5 img
    {
        width:30%;
    }

    .col-lg-4 img, .col-lg-6 img
    {
        width:20%;
        margin-bottom:10px;
        border-radius: 50%;
    }

    .GF5
    {
        padding-top:20px;
        padding-bottom:14px;
    }

    .menu-principal li
    {
        display: inline-flex;
        font-size: 14px;
        color:white;
        font-family: monospace,sans-serif,arial;
        margin-right: 10px;
        position:relative;
        bottom:16px;
        left:40px;
        margin-right: 2px;
    }

        p
    {
        color:azure;
        text-align:center;
    }

    h1
    {
        padding-bottom: 8px;
    }
}

@media screen and (min-width:601px) and (max-width:749px)
{
    .GF5 img
    {
        width:35%;
    }

    .menu-principal ul img
    {
        width:16%;
        top: 6px;
        right: 16px;

    }
    .col-lg-4 img, .col-lg-6 img
    {
        width:25%;
        padding-bottom: 12px;
        border-radius: 50%;
    }

    .GF5
    {
        
        margin-bottom:40px;
    }

    .menu-principal li
    {
        font-size: 20px;
        color:white;
        font-family: monospace,sans-serif,arial;
        margin-right: 16px;
        position:relative;
        bottom:32px;
        left:44px;
    }

        p
    {
        color:azure;
        text-align:center;
    }

    h1
    {
        padding-bottom: 8px;
    }
}

@media screen and (min-width:602px) and (max-width:749px)
{
    .menu-principal li a
    {
        margin-right: 14px;
        position: relative;
        bottom:16px;
    }


    .menu-principal ul img
{

    display: flex;
    width:15%;
    border-radius: 50%;
    border: solid crimson;
    border-top:2px;
    border-bottom: 2px;
    position:relative;
    left:20px;
    top:2px;
}

    .GF5 img
    {
        width:30%;
    }

    .col-lg-4 img, .col-lg-6 img
    {
        width:20%;
        margin-bottom:10px;
        border-radius: 50%;
    }

    .GF5
    {
        padding-top:20px;
        padding-bottom:14px;
    }

    .menu-principal li
    {
        font-size: 18px;
        color:white;
        font-family: monospace,sans-serif,arial;
        margin-right: 10px;
        position:relative;
        bottom:16px;
        left:40px;
        margin-right: 2px;
    }

        p
    {
        color:azure;
        text-align:center;
    }

    h1
    {
        padding-bottom: 8px;
    }
}

@media screen and (min-width:750px) and (max-width:850px)
{
    .menu-principal li a
    {
        margin-right: 20px;
        position: relative;
        bottom:30px;
    }


    .menu-principal ul img
{

    display: flex;
    width:15%;
    border-radius: 50%;
    border: solid crimson;
    border-top:2px;
    border-bottom: 2px;
    position:relative;
    left:20px;
    top:2px;
}

    .GF5 img
    {
        width:30%;
    }

    .col-lg-4 img, .col-lg-6 img
    {
        width:35%;
        margin-bottom:12px;
        border-radius: 50%;
    }

    .GF5
    {
        padding-top:20px;
        padding-bottom:14px;
    }

    .menu-principal li
    {
        font-size: 20px;
        position:relative;
        bottom:16px;
        left:40px;
        margin-right: 2px;
    }

    p
    {
        text-align:center;
    }

    h1
    {
        padding-bottom: 8px;
    }
}

@media screen and (min-width:851px) and (max-width:999px)
{
    .menu-principal li a
    {
        margin-right: 20px;
        position: relative;
        bottom:30px;
    }


    .menu-principal ul img
{

    display: flex;
    width:12%;
    border-radius: 50%;
    border: solid crimson;
    border-top:2px;
    border-bottom: 2px;
    position:relative;
    left:20px;
    top:2px;
}

    .GF5 img
    {
        width:30%;
    }

    .col-lg-4 img, .col-lg-6 img
    {
        width:35%;
        margin-bottom:12px;
        border-radius: 50%;
    }

    .GF5
    {
        padding-top:20px;
        padding-bottom:14px;
    }

    .menu-principal li
    {
        font-size: 24px;
        position:relative;
        bottom:16px;
        left:40px;
        margin-right: 2px;
    }

    p
    {
        text-align:center;
    }

    h1
    {
        padding-bottom: 12px;
    }
}

@media screen and (min-width:1000px) and (max-width:1200px)
{
    .menu-principal ul
    {
        height: 84px;
    }

    .menu-principal li a
    {
        margin-right: 20px;
        position: relative;
        bottom:30px;
    }

    .menu-principal ul img
{

    display: flex;
    width:10%;
    border-radius: 50%;
    border: solid crimson;
    border-top:2px;
    border-bottom: 2px;
    position:relative;
    left:20px;
    top:4px;
}

    .GF5 img
    {
        width:30%;
    }

    .col-lg-4 img, .col-lg-6 img
    {
        width:35%;
        margin-bottom:12px;
        border-radius: 50%;
    }

    .GF5
    {
        padding-top:20px;
        padding-bottom:14px;
    }

    .menu-principal li
    {
        font-size: 26px;
        position:relative;
        bottom:16px;
        left:40px;
        margin-right: 2px;
    }

    p
    {
        text-align:center;
    }

    h1
    {
        padding-bottom: 12px;
    }
}

@media screen and (min-width:1200px) and (max-width:1366px)
{
    .menu-principal ul
    {
        height: 84px;
    }

    .menu-principal li a
    {
        margin-right: 20px;
        position: relative;
        bottom:30px;
    }

    .menu-principal ul img
{

    display: flex;
    width:9%;
    border-radius: 50%;
    border: solid crimson;
    border-top:2px;
    border-bottom: 2px;
    position:relative;
    left:20px;
    top:4px;
}

    .GF5 img
    {
        width:30%;
    }

    .col-lg-4 img, .col-lg-6 img
    {
        width:35%;
        margin-bottom:12px;
        border-radius: 50%;
    }

    .GF5
    {
        padding-top:20px;
        padding-bottom:14px;
    }

    .menu-principal li
    {
        font-size: 36px;
        position:relative;
        bottom:16px;
        left:40px;
        margin-right: 2px;
    }

    p
    {
        text-align:center;
    }

    h1
    {
        padding-bottom: 12px;
    }
}

@media screen and (min-width:1410px) and (max-width:1610px)
{
    .menu-principal ul img
    {
        width:9%;
        top: 6px;
        left: 4px;
    }
    .menu-principal ul
    {
        height: 96px;
    }
    .col-lg-4 img
    {
        width:70%;
        padding-bottom: 20px;
        border-radius: 50%;
    }

    .col-lg-6 img
    {
        width:55%;
        padding-bottom: 22px;
        border-radius: 50%;
    }

    .menu-principal li
    {
        margin-right: 38px;
    }

    .GF5 img
    {
        width:32%;
    }

    .menu-principal li
    {
        font-size: 36px;
        color:white;
        font-family: monospace,sans-serif,arial;
        margin-right: 40px;
        position:relative;
        bottom:56px;
        left:46px;
    }

    .col-lg-4 p,.col-lg-6 p
    {
        font-size:24px;
        text-align: center;
    }
    p
    {
        text-align: center;
    }
}

@media screen and (min-width:1611px) and (max-width:1920px)
{

    .menu-principal ul img
    {
        width:8%;
        top: 6px;
        left: 10px;
    }
    .menu-principal ul
    {
        height: 100px;
    }
    .col-lg-4 img
    {
        width:70%;
        padding-bottom: 20px;
        border-radius: 50%;
    }

    .col-lg-6 img
    {
        width:55%;
        padding-bottom: 22px;
        border-radius: 50%;
    }

    .GF5 img
    {
        width:35%;
    }

    .menu-principal li
    {
        font-size: 40px;
        color:white;
        font-family: monospace,sans-serif,arial;
        margin-right: 100px;
        position:relative;
        bottom:68px;
        left:46px;
    }

    .col-lg-4 p,.col-lg-6 p
    {
        font-size:28px;
        text-align: center;
    }
    p
    {
        text-align: center;
    }
}