.menu-principal ul img
{
    display: inline-flex;
    margin-right:100%;
    width:9%;
    border-radius: 50%;
    border: solid royalblue;
    border-top:2px;
    border-bottom: 2px;
    margin-right:100%;
    position:relative;
    top:2px;
}

.menu-principal ul
{
    position:relative;
    background: rgb(149,149,149);
    background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); 
    text-align:center;
    width:100%;
    margin-bottom:30px;
    height:70px;
    margin:0;
    padding:0;
}

.menu-principal ul li a:hover
{
    color:royalblue;
}

.menu-principal li
{
    list-style: none;
    display:inline-flex;
    font-size: 26px;
    color:white;
    font-family: monospace,sans-serif,arial;
    margin-right: 24px;
    position:relative;
    bottom:50px;
}

.menu-principal ul li a
{
    text-decoration: none;
    color:darkgray;
    transition: 0.5s;
}

.perfil img
{
    width:17%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding:0;
    margin-top:60px;
    margin-bottom:40px;
    position:relative;
    top:120px;
}

.perfil
{
    background: url("../IMG/programming.jpg");
    box-shadow: 0 3px 0 #552bd3;
    background-size:cover;
    margin-bottom:50px;
    position:relative;
    padding-top:2px;
    padding-bottom: 30px;
}

h1
{
    color:rgb(138, 138, 138);
    text-shadow:2px 3px 2px rgba(8, 8, 8, 0.966);
    text-align: center;
    padding-bottom:70px;
    padding-top:30px;
    font-family: Arial, Helvetica, sans-serif;
}

.container1
{
    margin-bottom:70px;
}

.container2
{
    margin-bottom:40px;
}

footer
{
    margin-bottom:20px;
}

footer div a
{  
    position:relative;
    left:30%;
}

footer h2
{
    text-align: center;
    margin-bottom: 20px;
    font-family: fantasy,arial;
}

div .card h1
{
    padding-top: 70px;
    color:azure;
    text-shadow: 3px 3px #552bd3;
    font-family:fantasy,arial,sans-serif;
    font-size:50px;
}

.card,.card2
{
    font-size:16px;
}

.listCard li a
{
    text-decoration: none;
    font-size:16px;
}

.listCard li a:hover
{
    color:darkgray;
}
.card3
{
    padding-bottom:12px;
}