*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
margin:0;
padding:0;
background: #1A2980;
background: -webkit-linear-gradient(to right, rgba(255,255,255,.85), #3d7df5);
background: linear-gradient(to left, rgba(255,255,255,.85), #3d7df5);
}

.GF5 img
{
    position: relative;
    border-radius: 50%;
    width:12rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 11rem;
}

.GF5
{
    background: url("../IMG/programming.jpg");
    background-size: cover;
    background-attachment:local;
    box-shadow: 20px 20px 20px rgba(0,0,0,.75);
    margin-bottom:70px;
    height:18rem;
}

.box-netflix img{
    width:400px;
    margin-bottom:50px;
    margin-top:10px;
    border-radius: 1em;
}

.box-netflix img:hover{
    box-shadow: 16px 16px 20px rgba(0,0,0,.80);
    transition: 0.2s;
    transform: scale(1.3);
}
.slyt{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    border-radius: 1em;
    filter: saturate(20%);
    box-shadow: 4px 4px 8px rgba(1,1,1,1);
}

.slyt:hover{
    filter: saturate(100%);
    box-shadow: 10px 10px 14px rgba(1,1,1,1);
    transition: 0.4s;
}

.projetos-p{
    text-align: center;
    margin:20px;
}

.box-login img{
    width:260px;
    height: 300px;
    margin-top:30px;
    margin-right:auto;
    margin-left:auto;
}

h3{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(1,1,1,1);
    padding:20px;
}

.box-login img:hover{
    box-shadow: 16px 16px 20px rgba(0,0,0,.80);
    transition: 0.2s;
    transform: scale(1.1);
}

.certificados ul a{
    text-decoration:none ;
    color:rgba(0,0,0,.90);
    font-size: 18px;
}

.certificados ul a:hover
{
    color:azure;
    transition: 0.3s;
}

.certificados h1
{
    text-shadow: 2px 2px 3px whitesmoke;
    color:rgba(1,1,1,1);
}

.certificados ul #vejaMais
{
    font-size: 16px;
    position:relative;
    top:35px;
    background-color: rgba(0,0,0,.75);
    color:whitesmoke;
    padding:12px 40px  12px 40px;
    border-radius: 1em;
    box-shadow: 5px 5px 10px black;
}

.certificados ul #vejaMais:hover
{
    background-color:rgba(0,0,0,.95);
    transition: 0.2s;
    box-shadow: 10px 10px 15px black;
}

.menu-principal{
    margin-bottom:-18px;
}

.menu-principal ul img
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:100%;
    width:5.5rem;
}

.menu-principal ul
{
    background: rgb(149,149,149);
    background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); 
    width: 100%;
    height:3rem;
    display:inline-flex;
    align-items: center;
    padding:0;
    margin:0;
}

.menu-principal li
{
    position:relative;
    list-style: none;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
    margin-right:1rem;
    align-items: center;
    padding-right:0.5rem;
}

div .list{
    display: flex;
    margin-left:65%;
}

ul li a
{
    color:darkgray;
    text-decoration: none;
    transition: 0.5s;
}

ul li a:hover
{
    color:#4442c4;
}

.card1,.card2
{
    margin-top:60px;
    box-shadow: 25px 25px 35px rgba(0,0,0,.80);
}

h1
{
    text-shadow:2px 1px rgb(66, 48, 226);
    color:azure;
    padding-top:42px;
    text-align: center;
}

h2
{
    color:rgb(71, 124, 238);
    text-align: center;
    text-shadow: 2px 1px 1px rgb(255, 255, 255);
    padding-top:50px;
    padding-bottom:30px;
}

p
{
    color:floralwhite;
    text-align:justify;
    margin-right:24px;
}

footer
{
    font-size:0;
    text-align: center;
}

footer div a img:hover
{
    filter:opacity(72%);
    transition: 0.5s;
}

.myname h1{
    color:rgba(0,0,0,.80);
    text-shadow: 2px 2px 4px rgba(0,0,0,.95);
    font-size:40px ;
}

@media screen and (min-width:300px) and (max-width:350px)
{
    .box-netflix img{
        width:200px;
    }

    .box-login img{
        width:200px;
        height: 150px;
    }

    div .list{
        display: flex;
        margin-left:0;
    }


    .menu-principal li{
        position: relative;
        left:0.8rem;
        font-size: 0.7rem;
    }

    .menu-principal ul img{
        width:0;
    }
}

@media screen and (min-width:351px) and (max-width:400px)
{
    .box-netflix img{
        width:230px;
    }

    .box-login img{
        width:230px;
        height: 210px;
    }

    div .list{
        margin-left:0;
    }

    .menu-principal li{
        position: relative;
        font-size: 0.7rem;
        left:1.7rem;
    }

    .menu-principal ul img{
        width:0;
    }
}


@media screen and (min-width:401px) and (max-width:470px)
{
    .box-netflix img{
        width:350px;
    }

    .box-login img{
        width:350px;
        height: 280px;
    }

    div .list{
        margin-left:1%;
    }

    .menu-principal li{
        font-size: 0.7rem;
    }

    .menu-principal ul img{
        width:3.5rem;
    }
}



@media screen and (min-width:471px) and (max-width:600px)
{
    .box-netflix img{
        width:350px;
    }

    .box-login img{
        width:350px;
        height: 280px;
    }

    div .list{
        margin-left:28%;
    }
    

    .menu-principal li{
        font-size: 1rem;
    }

    .menu-principal ul img{
        width:4.8rem;
    }
}

@media screen and (min-width:601px) and (max-width:750px)
{
    .box-netflix img{
        width:350px;
    }

    .box-login img{
        width:350px;
        height: 280px;
    }

    
    div .list{
        margin-left:36%;
    }

    .menu-principal li{
        font-size:1.1rem;
        padding-right: 0.4rem;
    }

    .menu-principal ul img{
        width:4.5rem;
    }
}

@media screen and (min-width:751px) and (max-width:850px)
{
    .card2
    {
        padding-bottom:262px;
    }

    div .list{
        margin-left:46%;
    }

    .menu-principal li{
        font-size: 1.1rem;
        padding-right: 0.5rem;
    }

    .menu-principal ul img{
        width:4.5rem;
    }
}

@media screen and (min-width:851px) and (max-width:991px)
{
    .card2
    {
        padding-bottom:262px;
    }

    .myname h1
    {
        padding-top:68px;
        font-size:28px;
    }

    div .list{
        margin-left:50%;
    }

    .menu-principal li{
        font-size: 1.2rem;
        padding-right:0.5rem;
    }

    .menu-principal ul img{
        width:4.5rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px)
{
    .card2
    {
        padding-bottom:142px;
    }

    .myname h1
    {
        padding-top:68px;
    }

    div .list{
        margin-left:54%;
    }

    .menu-principal li{
        font-size: 1.3rem;
        padding-right: 0.5rem;
    }

    .menu-principal ul img{
        width:5.5rem;
    }
}

@media screen and (min-width:1200px) and (max-width:1367px)
{
    .card1
    {
        padding-bottom:2px;
    }
}

@media screen and (min-width:1368px) and (max-width:1601px)
{
    .myname h1
    {
        padding-top:68px;
    }

    .card2
    {
        padding-bottom:168px;
    }
    div .card-body
    {
        font-size:20px;
    }
    div .card-header h2
    {
        font-size:50px;
    }

    div .list{
        margin-left:25%;
    }

    .menu-principal li{
        font-size: 1.2rem;
    }

    .menu-principal ul img{
        width:5rem;
    }
}

@media screen and (min-width:1602px) and (max-width:1920px)
{
    .card2
    {
       padding-bottom:360px;
    }

    div .card-body
    {
        font-size:24px;
    }
    div .card-header h2
    {
        font-size:56px;
    }

    footer img
    {
        padding:0;
        margin:0;
    }

    div .list{
        margin-left:30%;
    }

    .menu-principal li{
        font-size: 1.3rem;
    }

    .menu-principal ul img{
        width:5rem;
    }
}
