.GF5 img
{
    width:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
    border-radius: 50%;
    border:solid rgb(30, 77, 179);
    border-top:4px;
    border-bottom: 4px;
    position:relative;
    top: 170px;
}

.GF5
{
    background: url("../IMG/programming.jpg");
    background-size: cover;
    margin-bottom:50px;
    position:relative;
    padding-top:2px;
    padding-bottom: 10px;
}


.menu-principal ul
{
    align-items:center;
    position:flex;
    background: rgb(149,149,149);
    background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); 
    text-align:center;
    margin:0;
    padding:0;
    width:100%;
    height:70px;
}

.menu-principal li
{
    display:inline-flex;
    list-style: none;
    font-size: 26px;
    color:white;
    font-family: monospace,sans-serif,arial;
    margin-right: 24px;
    position:relative;
}

ul li a
{
    color:darkgray;
    text-decoration: none;
    transition: 0.5s;
}

ul li a:hover
{
    color:royalblue;
}

h1
{
    color:black;
    padding-top:80px;
    text-align: center;
}

p
{
    color:floralwhite;
    text-align:justify;
    margin-right:24px;
}

.card,.card2
{
    margin-top:60px;
}

.menu-principal ul img
{
    display: flex;
    margin-right:100%;
    width:20%;
    border-radius: 50%;
    border: solid royalblue;
    border-top:2px;
    border-bottom: 2px;
    margin-right:100%;
    position:relative;
    top:16px;
    left:6px;
}

h2
{
    text-align: center;
    text-shadow: 2px 1px 1px rgb(172, 221, 233);
    padding-top:60px;
    padding-bottom:20px;
}

footer img
{
    float:right;
    position:relative;
    right:350px;
}


@media (max-width: 600px)
{
    .menu-principal ul
    {
        height: 40px;
    }

    .menu-principal li a
    {
        position: relative;
        bottom:16px;
        left:36px;
    }

    .menu-principal ul img
    {
        margin-right:100%;
        width:10%;
        border-radius: 50%;
        margin-right:100%;
        position:relative;
        top:10px;
    }

    .GF5 img
    {
        width:30%;
        position:relative;
        top:106px;
    }

    .menu-principal li
    {
        font-size:12px;
        position:relative;
        top:8px;

    }

    .card3 p
    {
        margin-bottom:23px;
    }

    .card2 p 
    {
        padding-bottom:63px;
    }

    h1
    {
        padding-top:20px;
    }

    footer img
    {
        right:0;
        float:left;
    }
}

@media screen and (min-width:601px) and (max-width:799px)
{
    .menu-principal ul
    {
        height: 50px;
    }

    .menu-principal li a
    {
        position: relative;
        bottom:16px;
        left:36px;
    }

    .menu-principal ul img
    {
        margin-right:100%;
        width:10%;
        border-radius: 50%;
        margin-right:100%;
        position:relative;
        top:10px;
    }

    .GF5 img
    {
        width:30%;
        position:relative;
        top:106px;
    }

    .menu-principal li
    {
        font-size:16px;
        position:relative;
        bottom:8px;
    }

    h1
    {
        padding-top:20px;
    }
}

@media screen and (min-width:750px) and (max-width:851px)
{
    .menu-principal li a
    {
        font-size: 18px;
        margin-right: 6px;
        position: relative;
        bottom:22px;
    }

    .menu-principal ul img
    {
        margin-right:100%;
        width:9%;
        border-radius: 50%;
        margin-right:100%;
        position:relative;
        top:6px;
    }

    .GF5 img
    {
        width:22%;
    }

    .menu-principal ul
    {
        height: 54px;
    }

    .menu-principal li
    {
        position:relative;
        bottom:0;
        left:40px;
        padding-right: 28px;
    }

    .card3 p
    {
        margin-bottom:23px;
    }

    .card2 p 
    {
        padding-bottom:40px;
    }

    footer div
    {
        position:relative;
        left:276px;
    }
}

@media screen and (min-width:852px) and (max-width:999px)
{
    .menu-principal li a
    {
        font-size: 18px;
        margin-right: 6px;
        position: relative;
        bottom:22px;
    }

    .menu-principal ul img
    {
        margin-right:100%;
        width:9%;
        border-radius: 50%;
        margin-right:100%;
        position:relative;
        top:6px;
    }

    .GF5 img
    {
        width:22%;
    }

    .menu-principal ul
    {
        height: 60px;
    }

    .menu-principal li
    {
        position:relative;
        bottom:0;
        left:40px;
        padding-right: 28px;
    }

    footer div
    {
        position:relative;
        left:270px;
    }
}

@media screen and (min-width:1000px) and (max-width:1200px)
{
    .menu-principal ul
    {
        height: 84px;
    }

    .menu-principal li a
    {
        margin-right: 20px;
        position: relative;
        bottom:30px;
    }

    .menu-principal ul img
{

    display: flex;
    width:10%;
    border-radius: 50%;
    border: solid crimson;
    border-top:2px;
    border-bottom: 2px;
    position:relative;
    left:20px;
    top:4px;
}

    .GF5 img
    {
        width:30%;
    }

    .menu-principal li
    {
        font-size: 26px;
        position:relative;
        bottom:16px;
        left:40px;
        margin-right: 2px;
    }
}

@media screen and (min-width:1367px) and (max-width:1399px)
{


    .menu-principal li a
    {
        margin-right: 20px;
        position: relative;
        bottom:30px;
    }

    .menu-principal ul img
    {
        margin-right:100%;
        width:8%;
        border-radius: 50%;
        margin-right:100%;
        position:relative;
        top:8px;
    }

    .GF5 img
    {
        width:20%;
    }

    .menu-principal li
    {
        font-size: 26px;
        position:relative;
        bottom:16px;
        left:40px;
        padding-right: 46px;
    }

    .card3 p
    {
        margin-bottom:23px;
    }

    .card2 p 
    {
        padding-bottom:63px;
    }

    footer div
    {
        position:relative;
        right:100px;
    }
}

@media screen and (min-width:1200px) and (max-width:1400px)
{
    .menu-principal ul
    {
        height: 74px;
    }

    .menu-principal li a
    {
        margin-right: 20px;
        position: relative;
        bottom:30px;
    }

    .menu-principal ul img
    {
        margin-right:100%;
        width:8%;
        border-radius: 50%;
        margin-right:100%;
        position:relative;
        top:8px;
    }

    .GF5 img
    {
        width:20%;
    }

    .menu-principal li
    {
        font-size: 26px;
        position:relative;
        bottom:16px;
        left:40px;
        padding-right: 46px;
    }

    .card3 p
    {
        margin-bottom:23px;
    }

    .card2 p 
    {
        padding-bottom:63px;
    }
}

@media screen and (min-width:1600px) and (max-width:1800px)
{
    .menu-principal li a
    {
        font-size: 32px;
        margin-right: 20px;
        position: relative;
        bottom:44px;
    }

    .menu-principal ul img
    {
        margin-right:100%;
        width:8%;
        border-radius: 50%;
        margin-right:100%;
        position:relative;
        top:2px;
    }

    .GF5 img
    {
        width:22%;
    }

    .menu-principal ul
    {
        height: 92px;
    }

    .menu-principal li
    {
        font-size: 28px;
        position:relative;
        bottom:16px;
        left:40px;
        padding-right: 64px;
    }

    footer div
    {
        position:relative;
        right:152px;
    }
}

@media screen and (min-width:1801px) and (max-width:1920px)
{
    .menu-principal li a
    {
        font-size: 36px;
        margin-right: 20px;
        position: relative;
        bottom:44px;
    }

    .menu-principal ul img
    {
        margin-right:100%;
        width:7%;
        border-radius: 50%;
        margin-right:100%;
        position:relative;
        top:2px;
    }

    .GF5 img
    {
        width:22%;
    }

    .menu-principal ul
    {
        height: 84px;
    }

    .menu-principal li
    {
        position:relative;
        bottom:16px;
        left:40px;
        padding-right: 46px;
    }

    .card3 p
    {
        margin-bottom:23px;
    }

    .card2 p 
    {
        padding-bottom:40px;
    }

    footer div
    {
        position:relative;
        right:268px;
    }
}