*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
    {
    margin:0;
    padding:0;
    background: rgba(0,0,0,0.90);
    background: -webkit-linear-gradient(45deg, #434343, rgba(0,0,0,0.90),#434343, rgba(0,0,0,0.90));
    background: linear-gradient(45deg, #434343, rgba(0,0,0,0.90),#434343, #000000);
    }

    .GF5 img
    {
        box-shadow: 20px 20px 35px black;
        position: relative;
        border-radius: 50%;
        width:12rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 11rem;
    }

.GF5
{
    background: url("../IMG/pexels-negative-space-97077.jpg");
    background-size: cover;
    background-attachment:local;
    box-shadow: 20px 40px 20px rgba(0,0,0,.75);
    margin-bottom:70px;
    height:18rem;
}

.menu-principal ul
{
    background: rgb(149,149,149);
    background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); 
    width: 100%;
    height:3rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    margin:0;
}

.menu-principal li
{
    list-style: none;
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    margin-right:1.2rem;
    align-items: center;
}

.menu-principal ul img
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:100%;
    width:5rem;
}

div .list{
    display: flex;
}

ul li a
{
    color:darkgray;
    text-decoration: none;
    transition: 0.5s;
}

ul li a:hover
{
    color:#d5d826;
}

.card1,.card2,.card3,.card4
{
    margin-top:60px;
    box-shadow: 20px 20px 30px black;
}

.card1 h2,.card2 h2,.card3 h2
{
    color:#272727;
}

.card3
{
    display:block;
    margin-right:auto;
    margin-left:auto;
}

h2
{
    text-align: center;
    padding-top:50px;
    padding-bottom:30px;
}

h1
{
    text-align: center;
    color:white;
    padding-top:60px;
}

p
{
    color:#272727;
    text-align:justify;
    margin-right:24px;
}

footer
{
    font-size:0;
    text-align: center;
}

footer div a img:hover
{
    filter:opacity(72%);
}

@media (max-width:650px)
{
    .menu-principal li{
        font-size: 0.9rem;
        padding-right: 0;
    }

    .menu-principal ul img{
        width:4.5rem;
    }
}

@media (max-width:767px)
{
    .card3
    {
        width:100%;
    }
}


@media screen and (min-width:301px) and (max-width:350px)
{
    .myname h1
    {
        padding-top:20px;
    }

    .GF5{
        height: 9rem;
    }

    .GF5 img{
        top:5rem;
        width: 7rem;
    }
}

@media screen and (min-width:351px) and (max-width:450px)
{
    .myname h1
    {
        padding-top:55px;
    }

    .GF5{
        height: 8rem;
    }

    .GF5 img{
        top:4rem;
        width: 7rem;
    }
}


@media screen and (min-width:401px) and (max-width:500px)
{
    .myname h1
    {
        padding-top:60px;
    }

    .GF5{
        height: 8rem;
    }

    .GF5 img{
        top:4rem;
        width: 7rem;
    }

}



@media screen and (min-width:501px) and (max-width:600px)
{
    h1
    {
        padding-top:80px;
    }

    .GF5{
        height: 8rem;
    }

    .GF5 img{
        top:4rem;
        width: 7rem;
    }
}

@media screen and (min-width:601px) and (max-width:750px)
{
    h1
    {
        padding-top:110px;
    }

    .GF5{
        height: 12rem;
    }

    .GF5 img{
        top:7.2rem;
        width: 8rem;
    }
}

@media screen and (min-width:751px) and (max-width:850px)
{
    .card2
    {
        padding-bottom:384px;
    }

    .GF5{
        height: 12rem;
    }

    .GF5 img{
        top:7.2rem;
        width: 8rem;
    }
}

@media screen and (min-width:851px) and (max-width:991px)
{
    .card2
    {
        padding-bottom:384px;
    }

    .GF5{
        height: 12rem;
    }

    .GF5 img{
        top:7.2rem;
        width: 8rem;
    }
}

@media screen and (min-width:992px) and (max-width:1199px)
{
    .card2
    {
        padding-bottom:240px;
    }

    .GF5{
        height: 13rem;
    }

    .GF5 img{
        top:7.3rem;
        width: 9rem;
    }
}

@media screen and (min-width:1200px) and (max-width:1367px)
{
    .card2
    {
        padding-bottom:142px;
    }
}

@media screen and (min-width:1368px) and (max-width:1399px)
{
    .card2
    {
        padding-bottom:142px;
    }
}

@media screen and (min-width:1400px) and (max-width:1550px)
{
    .card2
    {
        padding-bottom:96px;
    }
}

@media screen and (min-width:1550px) and (max-width:1601px)
{
    .card2
    {
        padding-bottom:94px;
    }
}

@media screen and (min-width:1602px) and (max-width:1920px)
{
    .card2
    {
       padding-bottom:94px;
    }

    footer img
    {
        width:180px;
    }

    .gmail img
    {
        width:140px;
    }
    .github img
    {
        width:160px;
    }
    .instagram img
    {
        width: 195px;
    }
}